html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]),
[hidden] {
  display: none;
}
a,
button,
input {
  -webkit-tap-highlight-color: transparent;
}
button,
input {
  margin: 0;
  padding: 0;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: none;
  padding: 0;
}
button,
input {
  font: inherit;
  font-optical-sizing: inherit;
  font-size-adjust: inherit;
  font-kerning: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  text-rendering: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
}
a,
a:visited {
  color: inherit;
}
html {
  width: 100%;
  height: 100%;
}
body {
  background: #fff;
  color: #242424;
  font-family: "Source Sans", "Source Sans Pro", "Noto Sans", "Helvetica Neue", Helvetica, Arial, "Source Han Sans", "Noto Sans CJK SC", sans-serif;
  font-size-adjust: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  width: 100%;
}
.page-main {
  margin: 0 auto;
  max-width: 728px;
}
.page-header {
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background: #fff;
  border-bottom: solid 1px #e5e5e5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  height: 56px;
  padding: 8px 16px 8px 24px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 500;
}
.page-header .page-header-title {
  font-family: "Source Serif", "Source Serif Pro", "Noto Serif", Georgia, Cambria, "Times New Roman", Times, "Source Han Serif", "Noto Serif CJK SC", serif;
  font-size-adjust: 0.492;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -0.011em;
  line-height: 40px;
  margin-right: auto;
  white-space: nowrap;
}
.page-header .page-header-title a {
  color: inherit;
  text-decoration: none;
}
.page-header .page-header-search {
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background: #f9f9f9;
  border-radius: 20px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 0 1 240px;
  -ms-flex: 0 1 240px;
  flex: 0 1 240px;
  height: 40px;
  margin-left: 32px;
  min-width: 0;
}
@media (max-width: 551.98px) {
  .page-header .page-header-search {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}
.page-header .page-header-search::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%236B6B6B' height='24px' viewBox='0 0 256 256' width='24px'%3E%3Cpath d='M226.83,221.17l-52.7-52.7a84.1,84.1,0,1,0-5.66,5.66l52.7,52.7a4,4,0,0,0,5.66-5.66ZM36,112a76,76,0,1,1,76,76A76.08,76.08,0,0,1,36,112Z' /%3E%3C/svg%3E");
  line-height: 0;
  margin: 0 12px;
}
.page-header .page-header-search .page-header-search-input {
  -webkit-align-self: stretch;
  align-self: stretch;
  -ms-flex-item-align: stretch;
  background: none;
  border: none;
  padding-right: 12px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.page-header .page-header-search .page-header-search-input:focus {
  outline: none;
}
.page-header .page-header-search .page-header-search-input::-webkit-search-cancel-button,
.page-header .page-header-search .page-header-search-input::-webkit-search-results-button {
  display: none;
}
.page-header .page-header-link {
  color: #6b6b6b;
  margin-left: 24px;
  padding: 8px;
}
.page-header .page-header-link:hover {
  color: #242424;
}
.page-header .page-header-link svg {
  fill: currentColor;
  vertical-align: top;
}
.page-navigation {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  gap: 8px;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  line-height: 24px;
  margin: 64px 24px;
}
@media (max-width: 551.98px) {
  .page-navigation {
    margin: 48px 24px;
  }
}
.page-navigation a,
.page-navigation span {
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  border-radius: 100px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  min-width: 40px;
  padding: 8px 12px;
  white-space: nowrap;
}
.page-navigation a {
  text-decoration: none;
}
.page-navigation a:hover {
  outline: 1px solid;
}
.page-navigation span {
  background: #f2f2f2;
}
.post {
  margin: 64px 24px;
}
@media (max-width: 551.98px) {
  .post {
    margin: 48px 24px;
  }
}
.post:not(:first-of-type)::before {
  content: '';
  display: block;
  margin: 64px 0;
  border-top: 1px solid #e5e5e5;
}
@media (max-width: 551.98px) {
  .post:not(:first-of-type)::before {
    margin: 48px 0;
  }
}
.post-header .post-title {
  font-size: 42px;
  font-weight: 700;
  letter-spacing: -0.011em;
  line-height: 52px;
  margin-bottom: 32px;
  margin-top: 1.19em;
}
@media (max-width: 551.98px) {
  .post-header .post-title {
    font-size: 32px;
    letter-spacing: -0.014em;
    line-height: 38px;
    margin-bottom: 24px;
    margin-top: 1.01em;
  }
}
.post-header .post-title a {
  color: inherit;
  text-decoration: none;
}
.post-header .post-metadata {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.post-header .post-metadata .post-avatar {
  border: 1px solid rgba(0,0,0,0.05);
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 46px;
  margin-right: 12px;
  width: 46px;
}
.post-header .post-metadata .post-metadata-title {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.post-header .post-metadata .post-metadata-title .post-author {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.post-header .post-metadata .post-metadata-title .post-metadata-summary {
  color: #6b6b6b;
  margin-top: 2px;
}
.post-header .post-metadata .post-metadata-title .post-metadata-summary > :not(:last-child)::after {
  content: '·';
  margin: 0 8px;
}
@media (max-width: 551.98px) {
  .post-header .post-metadata .post-metadata-title .post-metadata-summary .post-categories {
    display: block;
    margin-bottom: 2px;
  }
  .post-header .post-metadata .post-metadata-title .post-metadata-summary .post-categories::after {
    content: none;
  }
}
.post-header .post-metadata .post-metadata-title .post-metadata-summary .post-categories .post-category-list,
.post-header .post-metadata .post-metadata-title .post-metadata-summary .post-categories .post-category-list-child,
.post-header .post-metadata .post-metadata-title .post-metadata-summary .post-categories .post-category-list-item {
  display: inline;
}
.post-header .post-metadata .post-metadata-title .post-metadata-summary .post-categories .post-category-list-child::before {
  content: ' / ';
}
.post-header .post-metadata .post-metadata-title .post-metadata-summary .post-categories .post-category-list-item:not(:first-child)::before {
  content: ', ';
}
.post-header .post-metadata .post-metadata-title .post-metadata-summary .post-categories .post-category-list-link {
  color: #242424;
  text-decoration: none;
}
.post-header .post-metadata .post-metadata-title .post-metadata-summary .post-categories .post-category-list-link:hover {
  text-decoration: underline;
}
.post-body {
  font-family: "Source Serif", "Source Serif Pro", "Noto Serif", Georgia, Cambria, "Times New Roman", Times, "Source Han Serif", "Noto Serif CJK SC", serif;
  font-size-adjust: 0.492;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.003em;
  line-height: 32px;
  text-rendering: optimizeLegibility;
  word-break: break-word;
  word-wrap: break-word;
}
@media (max-width: 551.98px) {
  .post-body {
    font-size: 18px;
    letter-spacing: -0.003em;
    line-height: 28px;
  }
}
.post-body blockquote,
.post-body dl,
.post-body menu,
.post-body ol,
.post-body p,
.post-body ul {
  margin-bottom: -0.46em;
  margin-top: 2.14em;
}
@media (max-width: 551.98px) {
  .post-body blockquote,
  .post-body dl,
  .post-body menu,
  .post-body ol,
  .post-body p,
  .post-body ul {
    margin-bottom: -0.46em;
    margin-top: 1.56em;
  }
}
.post-body h1 + blockquote,
.post-body h2 + blockquote,
.post-body h3 + blockquote,
.post-body h4 + blockquote,
.post-body h5 + blockquote,
.post-body h6 + blockquote,
.post-body h1 + blockquote.pullquote + blockquote,
.post-body h2 + blockquote.pullquote + blockquote,
.post-body h3 + blockquote.pullquote + blockquote,
.post-body h4 + blockquote.pullquote + blockquote,
.post-body h5 + blockquote.pullquote + blockquote,
.post-body h6 + blockquote.pullquote + blockquote,
.post-body h1 + dl,
.post-body h2 + dl,
.post-body h3 + dl,
.post-body h4 + dl,
.post-body h5 + dl,
.post-body h6 + dl,
.post-body h1 + blockquote.pullquote + dl,
.post-body h2 + blockquote.pullquote + dl,
.post-body h3 + blockquote.pullquote + dl,
.post-body h4 + blockquote.pullquote + dl,
.post-body h5 + blockquote.pullquote + dl,
.post-body h6 + blockquote.pullquote + dl,
.post-body h1 + menu,
.post-body h2 + menu,
.post-body h3 + menu,
.post-body h4 + menu,
.post-body h5 + menu,
.post-body h6 + menu,
.post-body h1 + blockquote.pullquote + menu,
.post-body h2 + blockquote.pullquote + menu,
.post-body h3 + blockquote.pullquote + menu,
.post-body h4 + blockquote.pullquote + menu,
.post-body h5 + blockquote.pullquote + menu,
.post-body h6 + blockquote.pullquote + menu,
.post-body h1 + ol,
.post-body h2 + ol,
.post-body h3 + ol,
.post-body h4 + ol,
.post-body h5 + ol,
.post-body h6 + ol,
.post-body h1 + blockquote.pullquote + ol,
.post-body h2 + blockquote.pullquote + ol,
.post-body h3 + blockquote.pullquote + ol,
.post-body h4 + blockquote.pullquote + ol,
.post-body h5 + blockquote.pullquote + ol,
.post-body h6 + blockquote.pullquote + ol,
.post-body h1 + p,
.post-body h2 + p,
.post-body h3 + p,
.post-body h4 + p,
.post-body h5 + p,
.post-body h6 + p,
.post-body h1 + blockquote.pullquote + p,
.post-body h2 + blockquote.pullquote + p,
.post-body h3 + blockquote.pullquote + p,
.post-body h4 + blockquote.pullquote + p,
.post-body h5 + blockquote.pullquote + p,
.post-body h6 + blockquote.pullquote + p,
.post-body h1 + ul,
.post-body h2 + ul,
.post-body h3 + ul,
.post-body h4 + ul,
.post-body h5 + ul,
.post-body h6 + ul,
.post-body h1 + blockquote.pullquote + ul,
.post-body h2 + blockquote.pullquote + ul,
.post-body h3 + blockquote.pullquote + ul,
.post-body h4 + blockquote.pullquote + ul,
.post-body h5 + blockquote.pullquote + ul,
.post-body h6 + blockquote.pullquote + ul {
  margin-top: 1.14em;
}
@media (max-width: 551.98px) {
  .post-body h1 + blockquote,
  .post-body h2 + blockquote,
  .post-body h3 + blockquote,
  .post-body h4 + blockquote,
  .post-body h5 + blockquote,
  .post-body h6 + blockquote,
  .post-body h1 + blockquote.pullquote + blockquote,
  .post-body h2 + blockquote.pullquote + blockquote,
  .post-body h3 + blockquote.pullquote + blockquote,
  .post-body h4 + blockquote.pullquote + blockquote,
  .post-body h5 + blockquote.pullquote + blockquote,
  .post-body h6 + blockquote.pullquote + blockquote,
  .post-body h1 + dl,
  .post-body h2 + dl,
  .post-body h3 + dl,
  .post-body h4 + dl,
  .post-body h5 + dl,
  .post-body h6 + dl,
  .post-body h1 + blockquote.pullquote + dl,
  .post-body h2 + blockquote.pullquote + dl,
  .post-body h3 + blockquote.pullquote + dl,
  .post-body h4 + blockquote.pullquote + dl,
  .post-body h5 + blockquote.pullquote + dl,
  .post-body h6 + blockquote.pullquote + dl,
  .post-body h1 + menu,
  .post-body h2 + menu,
  .post-body h3 + menu,
  .post-body h4 + menu,
  .post-body h5 + menu,
  .post-body h6 + menu,
  .post-body h1 + blockquote.pullquote + menu,
  .post-body h2 + blockquote.pullquote + menu,
  .post-body h3 + blockquote.pullquote + menu,
  .post-body h4 + blockquote.pullquote + menu,
  .post-body h5 + blockquote.pullquote + menu,
  .post-body h6 + blockquote.pullquote + menu,
  .post-body h1 + ol,
  .post-body h2 + ol,
  .post-body h3 + ol,
  .post-body h4 + ol,
  .post-body h5 + ol,
  .post-body h6 + ol,
  .post-body h1 + blockquote.pullquote + ol,
  .post-body h2 + blockquote.pullquote + ol,
  .post-body h3 + blockquote.pullquote + ol,
  .post-body h4 + blockquote.pullquote + ol,
  .post-body h5 + blockquote.pullquote + ol,
  .post-body h6 + blockquote.pullquote + ol,
  .post-body h1 + p,
  .post-body h2 + p,
  .post-body h3 + p,
  .post-body h4 + p,
  .post-body h5 + p,
  .post-body h6 + p,
  .post-body h1 + blockquote.pullquote + p,
  .post-body h2 + blockquote.pullquote + p,
  .post-body h3 + blockquote.pullquote + p,
  .post-body h4 + blockquote.pullquote + p,
  .post-body h5 + blockquote.pullquote + p,
  .post-body h6 + blockquote.pullquote + p,
  .post-body h1 + ul,
  .post-body h2 + ul,
  .post-body h3 + ul,
  .post-body h4 + ul,
  .post-body h5 + ul,
  .post-body h6 + ul,
  .post-body h1 + blockquote.pullquote + ul,
  .post-body h2 + blockquote.pullquote + ul,
  .post-body h3 + blockquote.pullquote + ul,
  .post-body h4 + blockquote.pullquote + ul,
  .post-body h5 + blockquote.pullquote + ul,
  .post-body h6 + blockquote.pullquote + ul {
    margin-top: 1.34em;
  }
}
.post-body blockquote footer,
.post-body li footer,
.post-body th footer,
.post-body td footer,
.post-body blockquote dl,
.post-body li dl,
.post-body th dl,
.post-body td dl,
.post-body blockquote menu,
.post-body li menu,
.post-body th menu,
.post-body td menu,
.post-body blockquote ol,
.post-body li ol,
.post-body th ol,
.post-body td ol,
.post-body blockquote p,
.post-body li p,
.post-body th p,
.post-body td p,
.post-body blockquote ul,
.post-body li ul,
.post-body th ul,
.post-body td ul {
  margin-bottom: -0.46em;
  margin-top: 1.14em;
}
@media (max-width: 551.98px) {
  .post-body blockquote footer,
  .post-body li footer,
  .post-body th footer,
  .post-body td footer,
  .post-body blockquote dl,
  .post-body li dl,
  .post-body th dl,
  .post-body td dl,
  .post-body blockquote menu,
  .post-body li menu,
  .post-body th menu,
  .post-body td menu,
  .post-body blockquote ol,
  .post-body li ol,
  .post-body th ol,
  .post-body td ol,
  .post-body blockquote p,
  .post-body li p,
  .post-body th p,
  .post-body td p,
  .post-body blockquote ul,
  .post-body li ul,
  .post-body th ul,
  .post-body td ul {
    margin-top: 1.34em;
  }
}
.post-body blockquote {
  border-left: 3px solid;
  font-style: italic;
  margin-left: -20px;
  padding-left: 20px;
}
.post-body blockquote.pullquote {
  margin-bottom: 1.14em;
  width: 45%;
}
@media (max-width: 551.98px) {
  .post-body blockquote.pullquote {
    margin-bottom: 1.34em;
  }
}
.post-body blockquote.pullquote.left {
  margin-right: 20px;
}
.post-body blockquote.pullquote.right {
  margin-left: 20px;
}
.post-body blockquote.pullquote :first-child {
  margin-top: 0;
}
.post-body blockquote.pullquote :last-child {
  margin-bottom: 0;
}
.post-body blockquote footer cite::before {
  content: "—";
  padding: 0 0.5em;
}
.post-body menu li,
.post-body ul li {
  list-style-type: disc;
}
.post-body ol li {
  list-style-type: decimal;
}
.post-body dd,
.post-body dt,
.post-body li {
  margin-bottom: -0.46em;
  margin-left: 30px;
  margin-top: 1.14em;
}
@media (max-width: 551.98px) {
  .post-body dd,
  .post-body dt,
  .post-body li {
    margin-top: 1.34em;
  }
}
.post-body dt {
  font-weight: 700;
}
.post-body cite {
  font-style: italic;
}
.post-body code,
.post-body kbd,
.post-body pre,
.post-body samp,
.post-body var {
  font-family: "Source Code Pro", Consolas, Menlo, Monaco, "Noto Sans Mono", "Courier New", Courier, "Source Han Sans", "Noto Sans Mono CJK SC", monospace;
  font-size-adjust: none;
  font-weight: 400;
  letter-spacing: -0.022em;
}
.post-body code,
.post-body kbd,
.post-body samp,
.post-body var {
  background: #f2f2f2;
  font-size: 75%;
  padding: 2px 4px;
}
.post-body code code,
.post-body kbd code,
.post-body pre code,
.post-body samp code,
.post-body var code,
.post-body code kbd,
.post-body kbd kbd,
.post-body pre kbd,
.post-body samp kbd,
.post-body var kbd,
.post-body code samp,
.post-body kbd samp,
.post-body pre samp,
.post-body samp samp,
.post-body var samp,
.post-body code var,
.post-body kbd var,
.post-body pre var,
.post-body samp var,
.post-body var var {
  background: none;
  font-size: inherit;
  padding: 0;
}
.post-body > div,
.post-body figure,
.post-body hr,
.post-body iframe,
.post-body img,
.post-body pre,
.post-body table {
  margin-top: 56px;
}
@media (max-width: 551.98px) {
  .post-body > div,
  .post-body figure,
  .post-body hr,
  .post-body iframe,
  .post-body img,
  .post-body pre,
  .post-body table {
    margin-top: 40px;
  }
}
.post-body figure.highlight table {
  margin-top: 0;
}
.post-body pre {
  background: #f9f9f9;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.4;
  overflow-x: auto;
  padding: 32px;
}
.post-body pre code {
  display: block;
  margin-bottom: -0.2em;
  margin-top: -0.2em;
}
.post-body figure.highlight pre {
  background: none;
  border: none;
  border-radius: 0;
  font-size: inherit;
  line-height: inherit;
  margin-top: 0;
  overflow-x: visible;
  padding: 0;
}
.post-body figure.highlight pre code {
  display: inline;
  margin-top: 0;
  margin-bottom: 0;
}
.post-body em {
  font-style: italic;
}
.post-body figcaption,
.post-body h1,
.post-body h2,
.post-body h3,
.post-body h4,
.post-body h5,
.post-body h6 {
  font-family: "Source Sans", "Source Sans Pro", "Noto Sans", "Helvetica Neue", Helvetica, Arial, "Source Han Sans", "Noto Sans CJK SC", sans-serif;
  font-size-adjust: none;
}
.post-body figcaption {
  color: #6b6b6b;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  text-align: center;
}
.post-body figure.highlight {
  background: #f9f9f9;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  overflow-x: auto;
}
.post-body figure.highlight figcaption {
  margin: 0;
  padding: 8px 12px 0 12px;
  text-align: left;
}
.post-body figure.highlight figcaption a {
  float: right;
}
.post-body figure.highlight table {
  min-width: 100%;
}
.post-body figure.highlight table pre {
  font-size: 14px;
  line-height: 1.4;
}
.post-body figure.highlight table td.gutter {
  padding: 32px 0 32px 32px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 0;
  white-space: nowrap;
}
.post-body figure.highlight table td.gutter pre {
  color: #6b6b6b;
  text-align: right;
}
.post-body figure.highlight table td.code {
  padding: 32px;
}
.post-body h1,
.post-body h2 {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.016em;
  line-height: 30px;
  margin-bottom: -0.28em;
  margin-top: 1.95em;
}
@media (max-width: 551.98px) {
  .post-body h1,
  .post-body h2 {
    font-size: 20px;
    letter-spacing: 0;
    line-height: 24px;
    margin-bottom: -0.28em;
    margin-top: 1.2em;
  }
}
.post-body h3,
.post-body h4,
.post-body h5,
.post-body h6 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: -0.31em;
  margin-top: 1.72em;
}
@media (max-width: 551.98px) {
  .post-body h3,
  .post-body h4,
  .post-body h5,
  .post-body h6 {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: -0.31em;
    margin-top: 1.23em;
  }
}
.post-body hr {
  background: #000;
  border-radius: 50%;
  border-style: none;
  -webkit-box-shadow: -23px 0px 0px #000, 23px 0px 0px #000;
  box-shadow: -23px 0px 0px #000, 23px 0px 0px #000;
  height: 3px;
  margin-bottom: 24px;
  width: 3px;
}
.post-body img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
.post-body img[data-fancybox] {
  cursor: zoom-in;
}
.post-body mark,
.post-body .marked {
  background-color: #e8f3e8;
}
.post-body strong {
  font-weight: 700;
}
.post-body sub,
.post-body sup {
  font-size: smaller;
}
.post-body sub {
  vertical-align: sub;
}
.post-body sup {
  vertical-align: super;
}
.post-body table:not(.highlight) {
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  overflow-x: auto;
}
.post-body table:not(.highlight) th,
.post-body table:not(.highlight) td {
  padding: 8px 12px;
}
.post-body table:not(.highlight) th[align="left"],
.post-body table:not(.highlight) td[align="left"] {
  text-align: left;
}
.post-body table:not(.highlight) th[align="center"],
.post-body table:not(.highlight) td[align="center"] {
  text-align: center;
}
.post-body table:not(.highlight) th[align="right"],
.post-body table:not(.highlight) td[align="right"] {
  text-align: right;
}
.post-body table:not(.highlight) th:not(:first-of-type),
.post-body table:not(.highlight) td:not(:first-of-type) {
  border-left: 1px solid #e5e5e5;
}
.post-body table:not(.highlight) tr:not(:first-of-type) th,
.post-body table:not(.highlight) tbody:not(:first-of-type) tr th,
.post-body table:not(.highlight) thead ~ tbody tr th,
.post-body table:not(.highlight) thead ~ tfoot tr th,
.post-body table:not(.highlight) tbody ~ tfoot tr th,
.post-body table:not(.highlight) tr:not(:first-of-type) td,
.post-body table:not(.highlight) tbody:not(:first-of-type) tr td,
.post-body table:not(.highlight) thead ~ tbody tr td,
.post-body table:not(.highlight) thead ~ tfoot tr td,
.post-body table:not(.highlight) tbody ~ tfoot tr td {
  border-top: 1px solid #e5e5e5;
}
.post-body figure.highlight table {
  border: none;
  border-collapse: separate;
  border-radius: 0;
  overflow-x: visible;
}
.post-body figure.highlight table th,
.post-body figure.highlight table td {
  padding: 0;
}
.post-body figure.highlight table th:not(:first-of-type),
.post-body figure.highlight table td:not(:first-of-type) {
  border-left: none;
}
.post-body figure.highlight table tr:not(:first-of-type) th,
.post-body figure.highlight table tbody:not(:first-of-type) tr th,
.post-body figure.highlight table thead ~ tbody tr th,
.post-body figure.highlight table thead ~ tfoot tr th,
.post-body figure.highlight table tbody ~ tfoot tr th,
.post-body figure.highlight table tr:not(:first-of-type) td,
.post-body figure.highlight table tbody:not(:first-of-type) tr td,
.post-body figure.highlight table thead ~ tbody tr td,
.post-body figure.highlight table thead ~ tfoot tr td,
.post-body figure.highlight table tbody ~ tfoot tr td {
  border-top: none;
}
.post-body div.video-container {
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}
.post-body div.video-container iframe,
.post-body div.video-container object,
.post-body div.video-container embed {
  height: 100%;
  left: 0;
  margin-top: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.post-body .clear {
  clear: both;
}
.post-body .left {
  float: left;
}
.post-body .right {
  float: right;
}
.fancybox-slide {
  cursor: zoom-out;
}
@media (max-width: 551.98px) {
  .fancybox-slide {
    cursor: grab;
  }
}
.post-footer .post-more {
  color: #6b6b6b;
  display: inline-block;
  margin-top: 56px;
  text-decoration: none;
}
@media (max-width: 551.98px) {
  .post-footer .post-more {
    margin-top: 40px;
  }
}
.post-footer .post-tags {
  margin-top: 56px;
}
@media (max-width: 551.98px) {
  .post-footer .post-tags {
    margin-top: 40px;
  }
}
.post-footer .post-tags .post-tag-list-item {
  display: inline-block;
}
.post-footer .post-tags .post-tag-list-item:not(:first-child) {
  margin-left: 8px;
}
.post-footer .post-tags .post-tag-list-link {
  background: #f2f2f2;
  border-radius: 100px;
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  white-space: nowrap;
}
.post-footer .post-copyright {
  color: #6b6b6b;
  margin-top: 56px;
}
@media (max-width: 551.98px) {
  .post-footer .post-copyright {
    margin-top: 40px;
  }
}
.post-navigation {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  gap: 32px;
  margin: 64px 24px;
}
@media (max-width: 551.98px) {
  .post-navigation {
    margin: 48px 24px;
  }
}
.post-navigation .post-navigation-item {
  display: inline-block;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.post-navigation .post-navigation-item .post-navigation-link {
  color: inherit;
  display: block;
  padding: 16px 0;
  text-decoration: none;
}
.post-navigation .post-navigation-item .post-navigation-link .post-navigation-caption {
  color: #6b6b6b;
}
.post-navigation .post-navigation-item .post-navigation-link .post-navigation-title {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 8px;
}
#comments #disqus_thread {
  margin: 64px 24px;
}
@media (max-width: 551.98px) {
  #comments #disqus_thread {
    margin: 48px 24px;
  }
}
/*
 * curl https://raw.githubusercontent.com/highlightjs/highlight.js/main/src/styles/xcode.css \
 *   | sed -e 's/.hljs-/figure.highlight ./g' \
 *     -e 's/.hljs /figure.highlight td.code /g'
 *     -e '/background: #fff;/d'
 */

/*

XCode style (c) Angel Garcia <angelgarcia.mail@gmail.com>

*/

figure.highlight td.code {
    color: black;
}

/* Gray DOCTYPE selectors like WebKit */
.xml figure.highlight .meta {
    color: #c0c0c0;
}

figure.highlight .comment,
figure.highlight .quote {
    color: #007400;
}

figure.highlight .tag,
figure.highlight .attribute,
figure.highlight .keyword,
figure.highlight .selector-tag,
figure.highlight .literal,
figure.highlight .name {
    color: #aa0d91;
}

figure.highlight .variable,
figure.highlight .template-variable {
    color: #3F6E74;
}

figure.highlight .code,
figure.highlight .string,
figure.highlight .meta figure.highlight .string {
    color: #c41a16;
}

figure.highlight .regexp,
figure.highlight .link {
    color: #0E0EFF;
}

figure.highlight .title,
figure.highlight .symbol,
figure.highlight .bullet,
figure.highlight .number {
    color: #1c00cf;
}

figure.highlight .section,
figure.highlight .meta {
    color: #643820;
}


figure.highlight .title.class_,
figure.highlight .class figure.highlight .title,
figure.highlight .type,
figure.highlight .built_in,
figure.highlight .params {
    color: #5c2699;
}

figure.highlight .attr {
    color: #836C28;
}

figure.highlight .subst {
    color: #000;
}

figure.highlight .formula {
    background-color: #eee;
    font-style: italic;
}

figure.highlight .addition {
    background-color: #baeeba;
}

figure.highlight .deletion {
    background-color: #ffc8bd;
}

figure.highlight .selector-id,
figure.highlight .selector-class {
    color: #9b703f;
}

figure.highlight .doctag,
figure.highlight .strong {
    font-weight: bold;
}

figure.highlight .emphasis {
    font-style: italic;
}

.page-footer {
  border-top: 1px solid #e5e5e5;
  padding: 24px;
}
@media (max-width: 551.98px) {
  .page-footer {
    padding: 16px 24px;
  }
}
.page-footer .page-footer-text {
  color: #6b6b6b;
  margin: 0 auto;
  max-width: 680px;
}
